<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        body,td,th{
            color:#000000;
        }
        body{
            background-color:lemonchiffon;
        }
        .style1{
            font-family:Arial;
            font-size:14px;
            padding:12px;
            line-height:25px;
            border-radius:4px;
            text-decoration:none;
        }
        .style2 {
            font-family: Arial;
            font-size: 17px;
            padding: 12px;
            line-height: 25px;
            border-radius: 4px;
            text-decoration: none;
        }

    </style>
</head>
<body>
   
    
        @RenderBody()
        

   
    @RenderSection("scripts", required: false)
</body>
</html>
