

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/loginStyle.cshtml";
}

<style>
    body {
        background-image: url('/AppFile/student.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>



<div class="container">
    <table width="100%" height="100%" border="0" cellpadding="0" align="center">
        <tr>
            <td align="center" valign="middle">
                <table class="table-bordered" width="350" border="0" cellpadding="3" cellspacing="3" bgcolor="blue">
                    <form name="frm-master" id="frm-master">
                        <tr>
                            <td height="25" colspan="2" align="left" valign="middle" bgcolor="pink" class="style2"></td>
                            <div align="center">
                                <strong>Login</strong>

                            </div>
                        </tr>
                        <tr>
                            <div id="err" style="color:red">

                            </div>
                        </tr>
                        <tr>
                            <td width="118px" align="left" valign="middle" class="style1">Username</td>
                            <td width="118px" align="left" valign="middle">
                                <input type="text" class="form-control" size="10px" id="username" name="username" placeholder="UserName" />
                            </td>
                        </tr>
                        <tr>
                            <td width="118px" align="left" valign="middle" class="style1">Password</td>
                            <td width="118px" align="left" valign="middle">
                                <input type="password" class="form-control" size="10px" id="password" name="password" placeholder="password" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right" valign="middle" bgcolor="#3cdf2" class="style2">
                                <button type="button" class="btn btn-primary" onclick="login()">Sign In</button>
                                <button type="button" class="btn btn-primary" onclick="reset()">Reset</button>

                            </td>
                        </tr>
                    </form>

                </table>
            </td>
        </tr>
    </table>

</div>

@section scripts{


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
   <script>
       var status = null;
       function login() {
           if ($('#username').val() == "") {
               $('#username').parent('td').addClass('has-error');
               return false;
           }
           else if ($('#password').val() == "") {
               $('#password').parent('td').addClass('has-error');
               return false;
           }
           var data = $("#frm-master").serialize();
           $.ajax({
               type: 'Post',
               url: '/Login/login',
               data: data,
               dataType: 'JSON',
               success: function (data) {
                   status = data.status
                   if (status == 1) {
                       window.location.href = '@Url.Action("Index","Home")';
                   }
                   else if (status==3) {
                       $("#err").hide().html("username or password do not blank").fadeIn('slow');

                   }





               }

           });
       }
    </script>




}