@{
    ViewBag.Title = "Home Page";
}

<html>
<head>
    <meta name="viewport" content="width-device-width" />
    <style>
        body, html {
            height: 100%;
        }

        .bg {
            width: 100%;
            height: 100%;
            background-image: url("/AppFile/book.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .first {
            background: rgb(239, 187, 111 );
            padding: 10px;
        }

        div.transbox {
            margin: 30px;
            background-color: #ffffff;
            border: 1px solid black;
            opacity: 0.6;
            position: center;
        }

            div.transbox p {
                font-size: xx-large;
                text-align: center;
                margin: 5%;
                font-weight: bold;
                color: black;
            }
    </style>
</head>
<body>


</body>
</html>
