<style>
    body {
        background-image: url('/AppFile/issue.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="row">
    <div class="col-sm-4">
        @using (Html.BeginForm("Save", "issuebook", FormMethod.Post))
        {
            <div>
                <h3>Issue Book</h3>


            </div>
            <div class="form-group">
                <label>Member Id</label>
                <input type="text" id="m_id" name="m_id" class="form-control" placeholder="Member Id" required />
            </div>
            <div class="form-group">
                <label>Member Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Member Name" required />
            </div>
            <div class="form-group">
                <label>Book</label>
                <select class="form-control" id="book_id" name="book_id" placeholder="Book">
                    <option>Please Select</option>
                </select>

            </div>
            <div class="form-group">
                <label>Issue Date</label>
                <input type="date" id="issuedate" name="issuedate" class="form-control" required />
            </div>
            <div class="form-group">
                <label> Return Type</label>
                <input type="date" id="returndate" name="returndate" class="form-control" required />

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" required />
            </div>

        }
    </div>
</div>

@section scripts{

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script>
        getMid();
        getBooks();
        function getMid() {
            $("#m_id").keyup(function (e) {


                $.ajax({
                    type: 'POST',
                    url: '/issuebook/GetMid?mid=' + $("#m_id").val(),
                    dataType: 'JSON',
                    success: function (data) {
                        $("#name").val(data);

                    }



                });
            });
        }
        function getBooks() {



            $.ajax({
                type: 'GET',
                url: '/issuebook/Getbook',
                dataType: 'JSON',
                success: function (data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $("#book_id").append($("<option/>", {
                            text: data[i].book_name

                        }));
                    }
                },
               // Error! function(xhr,status,error) {
                    //alert(xhr.responseText);
                    //
       // }




            });





        }

    </script>






}
